
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-rojo-logo: #fc4649;
  --color-rojo-logo-secundary: #eb3134e5;
  --color-rojo-logo-trans: #f46365;
  --color-negro-logo: #000000;
  --color-grey-logo: #383536;
  --color-amarillo-primary: rgba(255, 255, 0, 0.623);
  --color-blanco-primary: #ffffff;
  
}

body {
  font-family: 'poppins', sans-serif;
}
