
body.active_video{ overflow-y: hidden; }

.about{
    height: 1320px;
    width: 100%;
}

    .about_container{
        margin-left: 140px;
        margin-right: 140px;
        width: 100%;
        height: 1200px;
        max-width: 1000px;
    }

        .about_container_1{
            height: 520px;
        }

            .about_container_left{
                width: 58%;
                height: 520px;
                float: left;
            }

                .about_sub_title {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--color-rojo-logo);
                    margin-bottom: 5px;
                }
                .about_container_left h2, .about_container_left h3 {
                    font-weight: 600;
                    color: var(--color-negro-logo);
                }
                .about_container_left h2{ margin-bottom: 11px; }
                .about_container_left h3{ margin-bottom: 10px; }
                .about_container_left p {
                    font-size: 13px;
                    text-align: justify;
                    line-height: 1.5;
                    margin-bottom: 15px;
                    color: #666;
                }

                .about_mision, .about_vision{
                    width: 100%;
                    height: auto;
                    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    margin-bottom: 15px;
                    animation: fadeInUp 1s  ease;
                }
                @keyframes fadeInUp {
                    0% {
                        opacity: 0;
                        -webkit-transform: translateY(20px);
                        -ms-transform: translateY(20px);
                        transform: translateY(20px)
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: translateY(0);
                        -ms-transform: translateY(0);
                        transform: translateY(0)
                    }
                }

                    .about_objective{
                        width: 95%;
                        height: auto;
                        margin-top: 15px;
                        display: flex; align-items: center; justify-content: center;
                    }

                        .icon_objective{
                            width: 8%;
                            height: auto;
                            float: left;
                        }
                            .icon_objective .fa-bullseye{ font-size: 20px; color: var(--color-rojo-logo); text-rendering: auto;}
                            .icon_objective .fa-bullseye:hover{ color: #0e2b3d; }

                        .about_objective_text{
                            width: 90%;
                            height: auto;
                            float: right;
                        }


            .about_container_right{
                width: 35%;
                height: 520px;
                float: right;
                text-align: center;
                animation: fadeInImg 1s ease;
            }

            @keyframes fadeInImg {
                from { opacity: 0; transform: scale3d(0.93, 0.93, 1); }
                to { opacity: 1; transform: scale3d(1, 1, 1); }
            }

                .about_container_right img{
                    max-width: 100%;
                    max-height: 450px;
                    border-radius: 8px;
                }

        
        .about, .about_container_2, .about_container_3{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .about_container_2{
            height: 180px;
            background-color: rgba(211, 211, 211, 0.342);
        }

            .about_funfact{
                display: flex;
                height: auto;
                width: 100%;
            }

                .about_funfact_block{
                    width: 25%;
                    text-align: center;
                }

                    .about_funfact_icon{
                        margin-bottom: 2px;
                    }

                        .about_funfact .fa-users, .about_funfact .fa-tools, .about_funfact .fa-trophy,.about_funfact .fa-medal{
                            font-size: 35px;
                            color:  var(--color-rojo-logo);
                        }

                        .about_funfact_text h3{ font-size: 25px; color: #0e2b3d; margin-bottom: 1px;}
                        .about_funfact_text p{ font-size: 14px; color: #666; }

                        .counter{ font-size: 25px; }

        .about_container_3{
            height: 500px;
            width: 100%;
        }

            .about_video{
                height: 330px;
                width: 90%;
            }

                .about_content1{
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(
                        rgba(0,0,0,0.2),
                        rgba(0,0,0,0.2)
                    ),url('../assets/img_autopista.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                    .video_btn_border1{ width: 45px; height: 45px; }
                    .video_btn_border2{ width: 53px; height: 53px; }
                    .video_btn_border1, .video_btn_border2{
                        position: absolute;
                        border-radius: 60px;
                        background-color: var(--color-rojo-logo);
                        animation: border_animation 3s linear 0s infinite;
                    }
                    @keyframes border_animation {
                        0% {
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            opacity: 0;
                        }
                        20% {
                            -webkit-transform: scale(1.24);
                            transform: scale(1.24);
                            opacity: 1;
                        }
                        100% {
                            -webkit-transform: scale(2.1);
                            transform: scale(2.1);
                            opacity: 0;
                        }
                    }

                    .about_video_icon{
                        text-align: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        background-color: var(--color-rojo-logo);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        z-index: 1;
                        text-decoration: none;
                    }
                        .about_video_icon .fa-play{
                            color: #fff;
                            text-rendering: auto;
                        }

                .about_content2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    z-index: 999;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background-color: rgba(0, 0, 0, 0.75);
                    width: 100%;
                    height: 100%;
                    min-height: 100vh;
                }
                    .about_content2_container{
                        width: 560px;
                        height: 400px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }
                        .about_btnclose{
                            color: #ccc;
                            border: none;
                            cursor: pointer;
                            background-color: transparent;
                            font-family: monospace;
                            font-size: 2.5em;
                            position: absolute;
                            top: 5px;
                            right: 0px;
                        }
                        .about_btnclose:hover{
                            color: var(--color-rojo-logo-trans);
                        }


/* Seccion About Responsive */
@media screen and (max-width: 1210px ){
    .about{ overflow-x: hidden; }
    .about, .about_container, .about_container_1{ height: auto; }
        .about_container_1{ margin-top: 50px; margin-bottom: 4rem; }
            .about_container_left, .about_container_right{ width: 100%; height: auto;
                float: none; margin-bottom: 2rem; 
            }
}

@media screen and (max-width: 990px ){
    .about_container{ margin-left: 0px; margin-right: 0px; width: 80%; }
}

@media screen and (max-width: 800px ){
    .about_container{  width: 90%; }
}

@media screen and (max-width: 630px ){
    .counter, .about_funfact_text h3{ font-size: 20px; }
    .about_video { width: 100%; }
        .about_content2_container, .about_content2_container iframe{ width: 100%; }
}

@media screen and (max-width: 450px ){
    .about_container_2{ height: auto; }
        .about_funfact{ display: block; height: auto; margin-top: 2.5rem; }
            .about_funfact_block{ width: 100%; height: auto; margin-bottom: 2.5rem; }
                .about_funfact_icon{ margin-bottom: 10px; }
            .about_content2_container{height: 250px; } 
                .about_content2_container iframe{ height: 180px;}
                .about_btnclose{top: 0px;}
}

@media screen and (max-width: 300px ){
    .icon_objective{display: none; }
    .about_content2_container iframe{ height: auto;}
    .about_btnclose{top: 15px;}
}
