body.active-menum{ overflow-y: hidden; }

.head{
  width: 100%;
  top: 0;
}

  /* Header superior */
  .head-superior {
    width: 100%;
    height: 35px;
    background-color: var(--color-negro-logo);
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .container_head-superior{
      width: 100%;
      max-width: 1000px;
      margin-left: 140px;
      margin-right: 140px;
    }

      .container-left{
        text-align: left;
        float: left;
        width: 50%;
        height: 35px;
      }

        .container-left ul{
          list-style: none;
        }

          .container-left li{
            display: inline-block;
            box-sizing: border-box;
            text-decoration: none;
            color: var(--color-blanco-primary);
            padding-right: 20px;
            padding: 12px;
            padding-left: 8px;
            font-weight: 600;
            font-size: 11px;
          }

          .container-left li i{
            font-weight: 600;
          }

      .container-right{
        text-align: right;
        float: right;
        width: 50%;
        height: 35px;
      }

      .container-right ul{
        list-style: none;
      }

        .headersup_horario{
          display: inline-block;
          box-sizing: border-box;
          text-decoration: none;
          color: var(--color-blanco-primary);
          padding-left: 20px;
          padding: 12px;
          font-weight: 600;
          font-size: 11px;
        }
          .headersup_horario i{
            font-weight: 600;
          }

        .headersup_social{
          display: inline-block;
          box-sizing: border-box;
          text-decoration: none;
          color: var(--color-blanco-primary);
          margin-left: 12px;
        }
        
          .icon--facebook, .icon--instagram, .icon--twitter{
            overflow-wrap: break-word;
            list-style-type: none;
            font-weight: 600;
            color: var(--color-blanco-primary);
            font-size: 15px;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-family: "font awesome 5 brands";
          }


  /* Header inferior */
  header {
    width: 100%;
    height: 80px;
    background-color: var(--color-rojo-logo);
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .container_header{
      width: 100%;
      max-width: 1000px;
      margin-left: 140px;
      margin-right: 140px;
    }
      header #logo{
        float: left;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

        header #logo img{
          height: 75px;
          padding: 5px;
          padding-left: 0px;
        }


      nav {
        float: right;
        padding-top: 25px;
        height: 80px;
      }
      
        .menu-icon {
          display: none;
          font-size: 25px;
          color: var(--color-blanco-primary);
          cursor: pointer;
        }
        
        .menu-list {
          list-style: none;
          display: block;
        }

        .menu-list.close{
          right: -100%;
        }
        
          nav ul li {
            font-size: 80%;
            display: inline-block;
            padding-left: 20px;
            padding-top: 8px;
            box-sizing: border-box;
            margin-left: 10px;
          }

          nav ul li .active{
            color: #ffdd40;
            border-bottom: 2px solid #ffdd40;
            display: block;
            width: 100%;
            height: 22px;
          }
          
            nav ul li #btnSolicitar{
              cursor: pointer;
              padding: 15px 15px;
              border-radius: 30px;
              background: var(--color-amarillo-primary); 
            }
            
            nav ul li a {
              text-decoration: none;
              color: var(--color-blanco-primary);
              font-weight: bold;
              cursor: pointer;
            }
              a:hover {
                color: #a5bdcd;
              }


/* Header responsive */
@media screen and (max-width: 1100px ){
  .head-superior{ display: none; }
  .header{ top: 0px; position: fixed; z-index: 900;}
}

@media screen and (max-width: 990px ){
  .container_header{
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media screen and (max-width: 870px ){
  /* Minimenu responsive */
  .menu-icon {
    display: block;
  }

  .menu-list {
    padding-left: 20px;
    padding-right: 20px;
  }
  nav:hover .menu-list {
    display: block;
  }

    nav ul, nav:active ul{
      display: none;
      z-index: 1000;
      position: absolute;
      background-color: var(--color-rojo-logo);
      width: 100%;
      height: 100vh;
      top: 80px;
      left: 0px;
      border-top: 1px solid var(--color-blanco-primary);
    }

      nav ul li .active{
        border-bottom: none;
        height: auto;
      }
      nav ul li {
        text-align: center;
        width: 100%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.421);
        margin-left: 0px;
        padding-top: 15px;
        padding-left: 0px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        nav ul li a{
          display: table;
          width: 100%;
          padding: 1.5rem;
          height: 50px;
          font-size: medium;
        }
          nav ul li a:hover{
            background-color: rgba(255, 255, 255, 0.3);
          }
          
}

@media screen and (max-width: 780px ){
  .container_header{ margin-left: 50px; margin-right: 50px; }
    header #logo img{ height: 70px; }
}

@media screen and (max-width: 550px ){
  .container_header{ margin-left: 15px; margin-right: 15px; }
}

@media screen and (max-width: 210px ){
  .menu-icon { display: none; }
}