.hero{
  width: 100%;
  height: 570px;
  background-image: linear-gradient(
  rgba(0,0,0,0.6),
  rgba(0,0,0,0.6)
  ),url('../assets/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .hero_container{
    max-width: 1000px;
    height: 570px;
    margin-left: 140px;
    margin-right: 140px;
  }


    /* TEXTO HERO*/
    .hero_container_left{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 570px;
      float: left;
    }

      .hero_text{
        margin-right: 100px;
      }
        .hero_text h4{
          text-align: left;
          font-size: 20px;
          color: var(--color-blanco-primary);
          font-weight: 400;
          margin-bottom: 15px;
          animation: fadeHaciaArribatext 1s;
        }
        @keyframes fadeHaciaArribatext {
          0% {
            opacity: 0;
            transform: translateY(20px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .hero_text h2{
          text-align: left;
          font-size: 42px;
          color: var(--color-blanco-primary);
          font-weight: 800;
          line-height: 1.2;
          margin-bottom: 18px;
          animation: fadeArribaAbajotext 1s;
        }
        
        @keyframes fadeArribaAbajotext {
          0% {
            opacity: 0;
            transform: translateY(-20px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .hero_text p {
          text-align: justify;
          color: var(--color-blanco-primary);
          animation: fadeLefttext 1s;
        }

        @keyframes fadeLefttext {
          0% {
            opacity: 0;
            transform: translateX(-20px);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .hero_text img{
          height: 1em;
          width: 1em;
          margin: 0 0.3em;
          vertical-align: -0.17em;
        }
        

    /* FORMULARIO HERO*/
    .hero_container_right{
      float: right;   
      width: 50%;
      height: 570px; 
    }
            
      .hero_form{
        width: 316px;
        margin-top: 95px;
        float: right;
        animation: fadeArribaAbajoform 1s;
      }

      @keyframes fadeArribaAbajoform {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

        .form-circle{
          color: #f8f9fa!important;
          box-sizing: border-box;
          text-align: center;
          padding: 33px 33px;
          background: #fff;
          border-radius: 12px;
        }

          .headform h4 {
            text-align: center;
            margin-bottom: 15px;
            font-size: 21px;
            line-height: 1.4;
            color: var(--color-negro-logo);
            font-weight: 600;
          }

          .headform p {
            text-align: center;
            margin-bottom: 15px;
            font-weight: 400;
            line-height: 26px;
            font-size: 14px;
            color: #666;
          }


        .resto-form{
          margin-right: -15px;
          margin-left: -15px;
          text-align: left;
        }

            .col{
              width: 100%;
              padding-right: 15px;
              padding-left: 15px;
            }

                .col button{
                  border: none;
                  cursor: pointer;
                  padding: 10px 25px;
                  border-radius: 30px;
                  color: var(--color-blanco-primary);
                  font-weight: 600;
                  margin-top: 10px;
                  width: 100%;
                  background: var(--color-rojo-logo);
                }
                

            .form-group{
              font-size: 20px;
              box-sizing: border-box;
              margin-bottom: 1rem;
            }

              .input-form-control{
                min-height: 30px;
                width: 100%;
                height: calc(1.5em + .75rem + 2.1px);
                font-size: 0.9rem;
                border: none;
                border-bottom: 1px solid #e6e6e6;
              }

              .input-form-control:focus{
                outline: none;
              }
  
  
/* Hero responsive */
@media screen and (max-width: 1100px ){
  .hero{ margin-top: 80px;}
}

@media screen and (max-width: 1070px ){
  .hero_container{
    margin-left: 0px;
    margin-right: 0px;
    width: 80%;
  }

    .hero_container_left{
      justify-content: left;
    }
      .hero_text{
        margin-right: 0px;
        width: 80%;
      }
}

@media screen and (max-width: 850px ){
  .hero{
    height: auto;
    display: block;
    align-items: none;
    justify-content: none;
    overflow-x: hidden;
  }
    .hero_container{
      width: 100%;
      height: auto;
    }

      .hero_container_left{
        width: 100%;
        height: auto;
        float: none;
        justify-content: center;
        margin-bottom: 40px;
      }

        .hero_text{
          width: 420px;
          margin-top: 80px;
        }
          .hero_text h2{
            text-align: center;
            font-size: 35px;
          }
          .hero_text p, .hero_text h4{
            text-align: center;
          }

      .hero_container_right{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;   
        margin-bottom: 70px;
      }
    
        .hero_form{
          width: 420px;
          float: none;
          margin-top: 0px;
        }
}

@media screen and (max-width: 450px ){
  .hero_text, .hero_form{
    width: 90%;
  }
}
