
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: .625em;
}

    .modal_container{
      padding: 32px 16px;
      border-radius: 7px;
      box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 20%);
      background-color: #fff;
      width: 24em;
      max-width: 100%;
    }
        .modal_content_center{
            text-align: center;
            width: 100%;
            height: 100%;
        }

            .modal_icon{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
            }

                .modal_check{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5em;
                    height: 5em;
                    border: 0.2em solid rgba(0,0,0,0);
                    border-radius: 50%;
                    border-color: #a5dc86;
                    animation: mostrarCheck 1.5s;
                }

                @keyframes mostrarCheck {
                    0%{ opacity: 0;}
                    50%{ opacity: 0.5;}
                    100%{ opacity: 1;}
                }
                    .modal_check i{
                        font-size: 3.2em;
                        color: #a5dc86;
                    }
            
            .modal_title{
                margin-bottom: 10px;
                color: #666;
                overflow-wrap: break-word;
            }
  
            .modal_text{
                margin-bottom: 20px;
                color: #666;
                overflow-wrap: break-word;
            }
  
            .btnOk{
                background-color: var(--color-rojo-logo);
                color: #fff;
                border-radius: 5px;
                font-size: 0.8em;
                padding: 9px 50px;
                cursor: pointer;
                border: none;
                font-weight: 600;
            }
                .btnOk:hover{
                    background-color: rgb(165, 40, 40);
                }