.section-nosotros{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
    ),url('../assets/patron.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

    .divborder{
        height: 500px;
        margin-left: 140px;
        margin-right: 140px;
        max-width: 1000px;
    }

        .column-left-nos{
            float: left;
            width: 50%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .div-imgs{
                width: 100%;
                height: 450px;
            }

                .div-imgs #img-nos1{
                    max-width: 100%;
                    height: 210px;
                    border-radius: 15px;
                    margin-top: 40px;
                    z-index:90;
                }

                .div-imgs #img-nos2{
                    max-width: 100%;
                    height: 210px;
                    border-radius: 15px;
                    margin-top: -58px;
                    margin-left: 120px;
                    border: solid 3px white;
                    z-index: 100;
                }


        .column-right-nos{
            float: right;
            width: 45%;
            height: 500px;
        }

            .text-nosotros{
                width: 80%;
                height: 370px;
                float: right;
                margin-top: 68px;
            }

                .text-nosotros h2{
                    text-align: center;
                    color: var(--color-negro-logo);
                    margin-bottom: 24px;
                    font-size: 23.5px;
                    font-weight: 700;
                }

                .textp{
                    text-align: justify;
                    overflow-wrap: break-word;
                    margin: 0 0 15px;
                    line-height: 26px;
                    font-size: 14px;
                    color: #666;
                }

                .list-nosotros{
                    list-style-type:none;
                    overflow-wrap: break-word;
                    margin: 0 0 17px;
                    line-height: 26px;
                    font-size: 14px;
                    color: #666;
                    text-align: justify;
                }

                    .list-nosotros .fa-check{
                        color: var(--color-rojo-logo);
                        font-size: 14px;
                        margin-right: 8px;
                    }

                .text-nosotros a{
                    text-decoration: none;
                    color: #fff;
                }

                    .button-info-nos{
                        border: none;
                        cursor: pointer;
                        font-size: 13px;
                        padding: 9px 9px;
                        border-radius: 7px;
                        font-weight: 600;
                        margin-top: 10px;
                        width: 100%;
                        background:  var(--color-rojo-logo);
                        text-align: center;
                    }

                        .button-info-nos span{
                            font-size: 10px;
                            box-sizing: border-box;
                            display: inline-block;
                            text-rendering: auto;
                            width: 23px;
                            height: 23px;
                            color: var(--color-rojo-logo);
                            line-height: 23px;
                            text-align: center;
                            border-radius: 50px;
                            background-color: var(--color-blanco-primary);
                            margin-left: 10px;
                        }
                        .button-info-nos:hover span{
                            color: var(--color-blanco-primary);
                            background-color: var(--color-rojo-logo);
                            transform: rotate(360deg);
                            transition: 1s ease-in-out;
                        }
                        .button-info-nos:hover{
                            background-color: var(--color-grey-logo);
                        }


/* Seccion Nosotros responsive */
@media screen and (max-width: 1200px ){
    .div-imgs #img-nos2{
        margin-left: 40px;
    }
    .column-right-nos{
        width: 50%;
    }
}

@media screen and (max-width: 1070px ){
    .section-nosotros{
        height: auto;
        overflow-x: hidden;
    }
  
        .divborder{
            height: auto;
            margin-bottom: 70px;
            width: 70%;
            margin-left: 0px;
            margin-right: 0px;
        }
  
            .column-left-nos, .column-right-nos{
                width: 100%;
                height: auto;
            }

            .column-left-nos{
                margin-bottom: 35px;
            }
            .column-right-nos{
                display: flex;
                align-items: center;
                justify-content: center;
            }
  
                .div-imgs{
                    margin-top: 70px;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                    .div-imgs #img-nos1{
                        width: 60%;
                        height: auto;
                        margin-top: 0px;
                        z-index: none;
                        position: relative;
                    }

                    .div-imgs #img-nos2{
                        display: none;
                    }
                
                .text-nosotros{
                    height: auto;
                    float: none;
                    margin-top: 0px;
                    width: 80%;
                }
      
}

@media screen and (max-width: 870px ){
    .divborder{ width: 80%; }
}

@media screen and (max-width: 700px ){
    .text-nosotros{
        width: 100%;
    }
        .div-imgs #img-nos1{
            width: 80%;
        }

}

@media screen and (max-width: 600px ){
    .div-imgs{
        width: 100%;
    }
        .div-imgs #img-nos1{
            width: 100%;
        }
}

@media screen and (max-width: 550px ){
    .divborder{ width: 90%; }
}
  