
.precios {
  width: 100%;
  height: 800px;
  text-align: center;
  background-color: #f4f7fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .container_precios{
    width: 100%;
    margin-left: 140px;
    margin-right: 140px;
    max-width: 1000px;
  }
    .precios_head{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
      .precios_head h2{
        color: var(--color-rojo-logo);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px;
        text-align: center;
        font-size: 22px;
      }
  
      .precios_head h3{
        display: inline-block;
        font-weight: 700;
        text-align: center;
        font-size: 22px;
      }
    
    .precios_options{
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
      .precios_buttons{
        width: auto;
        box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
        padding: 4px;
        background-color: #fff;
        border-radius: 32px;
      }
  
        .precios_buttons button {
          border-radius: 32px;
          border: none;
          position: relative;
          padding: 8px 16px;
          cursor: pointer;
          background-color: transparent;
          color: #777;
  
        }
  
        .precios_buttons button.activetab, .precios_buttons button.activetab:hover {
          background-color: var(--color-rojo-logo);
          color: #fff;
        }
  
        .precios_buttons button:hover {
          background-color: rgba(119, 119, 119, 0.411);
        }
  
          .precios_buttons button label {
            display: inline;
            background-color: #43a047;
            color: #fff;
            font-size: 10px;
            padding: 0 4px;
            border-radius: 8px;
            margin-left: 4px;
          }
  
    
    .precios_contents{
      display: flex;
      flex-wrap: wrap;
      gap: 23px;
      animation: fadeMostrar 4s;
    }

    @keyframes fadeMostrar {
      0% {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .precios_notas{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      .precios_notas_texto{
        width: 100%;
        margin-top: 30px;
      }
        .precios_notas p{
          color: var(--color-rojo-logo);
          font-size: 13px;
          font-weight: 550;
          text-align: center;
          overflow-wrap: break-word;
        }

  .contenttab, .modalcontent{ display: none; }
  .active-contenttab, .activemodal{ display: block; }


/* Seccion Precios responsive */
@media screen and (max-width: 1200px ){
  .precios {
    height: 1240px;
  }
    .container_precios{
      margin-left: 0px;
      margin-right: 0px;
    }
      .precios_contents{
        width: 100%;
        justify-content: center;
        align-items: center;
      }

        .precios_notas_texto{
          width: 80%;
        }

}

@media screen and (max-width: 600px ){
  .precios { height: auto; overflow-x: hidden; }

    .precios_head_title {
      width: 80%;
      margin-bottom: 25px;
      margin-top: 70px;
    }

    .precios_options{ 
      height: auto;
    }
      .precios_buttons{
        width: 80%;
        margin-bottom: 15px;
      }
        .precios_buttons button {
          width: 100%;
        }
    
    .precios_contents{ gap: 0px; }
    .precios_notas{ margin-bottom: 70px; }
}
