
.sliderNav{
    background-image: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
    ),url('../assets/img_slidernav.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    padding: 80px 0;
}

    .sliderNav_text{
        text-align: center;
    }

        .sliderNav_text h2{
            font-size: 36px;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 24px;
            letter-spacing: 0;
            overflow-wrap: break-word;
            color: #fff;
        }


@media screen and (max-width: 1100px ){
    .sliderNav{ margin-top: 80px;}
}