
.ventajas{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url('../assets/img_ventajas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

    .ventajas_container{
        height: 640px;
        width: 100%;
        margin-left: 140px;
        margin-right: 140px;
        max-width: 1000px;
    }

        .ventajas_title{
            text-align: center;
        }

            .ventajas_title h2{
                font-size: 22px;
                font-weight: 700;
                color: #fff;
                line-height: 1.2rem;
                text-transform: uppercase;
            }

        .ventajas_cards{
            margin-top: 40px;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }

            .cardv{
                width: 24%;
                height: 180px;
                background-color: rgba(255, 255, 255, 0.887);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
                transition: all 5s;
            }
                .cardv:hover{
                    border: 1px solid #0e2b3d;
                }
                .cardv:hover .cardv_icono_circle{
                    transform: rotate(360deg);
                    transition: 1s ease-in-out;
                    background-color: var(--color-grey-logo);
                }

                .cardv_center{
                    margin-left: 15px;
                    margin-right: 15px;
                    width: 100%;
                }

                    .cardv_icono{
                        width: 100%;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .cardv_icono_circle{
                            width: 60px;
                            height:60px;
                            line-height: 60px;
                            border-radius: 50%;
                            background-color: var(--color-rojo-logo);
                            text-align: center;
                            border: 2px solid white;
                        }

                    .cardv_text{
                        text-align: center;
                        height: 80px;
                        width: 100%;
                    }

                        .cardv_text h3{
                            font-size: 13px;
                            text-transform: uppercase;
                            color: #0e2b3d;
                            font-weight: 700;
                            margin-bottom: 8px;
                        }

                        .cardv_text p{
                            font-size: 11px;
                            color: #666;
                        }


/* Seccion Ventajas responsive */
@media screen and (max-width: 1200px ){
    .cardv{ width: 23.9%; }
}

@media screen and (max-width: 1110px ){
    .ventajas{ height: auto; overflow-x: hidden; }
        .ventajas_container{ height: auto; margin-top: 65px; margin-bottom: 65px;}
            .ventajas_cards{ gap: 26px;}
                .cardv{ width: 31%; }
}

@media screen and (max-width: 1030px ){
    .ventajas_container{ width: 80%; margin-left: 0px; margin-right: 0px; }
}

@media screen and (max-width: 930px ){
    .ventajas_cards{ gap: 22px; }
}

@media screen and (max-width: 800px ){
    .ventajas_cards{ gap: 20px; }
}

@media screen and (max-width: 720px){
    .ventajas_cards{ display: flex; align-items: center; justify-content: center; }
        .cardv{ width: 40%; }
}

@media screen and (max-width: 600px ){
    .cardv{ width: 47%; }
}

@media screen and (max-width: 480px ){
    .ventajas_container{ width: 90%; }   
}

@media screen and (max-width: 400px ){
    .ventajas_container{ width: 100%; }
        .ventajas_cards{ width: 100%; flex-wrap: none; }
            .cardv{ width: 60%; height: auto; }
                .cardv_icono{ height: auto; }
                    .cardv_icono_circle{ margin-top: 10px; margin-bottom: 10px; }
                .cardv_text{ height: auto; margin-bottom: 15px; }
                    .cardv_text h3, p{ font-size: 15px; }
}

@media screen and (max-width: 350px ){
    .ventajas_container{ width: 70%; }
        .cardv{ width: 100%;}
}

@media screen and (max-width: 250px ){
    .ventajas_container{ width: 90%; }
}

